* {
  font-family: Impacto, Impact, sans-serif;
}

@font-face {
  font-family: Impacto;
  font-weight: bold;
}

html {
  background: none !important;
  display: flex;
  justify-content: center;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.darken {
  background: black;
  transition: background .5s linear !important;
  color: white !important;
}

.transparent {
  opacity: 0;
  transition: opacity 1s linear !!important;
}

.divMain {
  display: flex;
  flex-direction: column;
  height: 100%;
}

nav {
}

.holder {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.holder-secondary {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

footer {
}

.canvas {
  background: none;
  outline-width: .3rem;
  border: black;
  border-style: solid;
  border-width: .3rem;
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2px !important;
}

.title {
  font-size: 2.5rem !important;
  text-align: left;
}

.esc {
  text-align: right;
  font-size: 1.2rem !important;
  align-self: end;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 100%;
}


.label {
  background: none;
  font-size: 2rem;
  transition: font-size .1s linear;
  text-transform: lowercase;
}

.label-black {
  color: white !important;
}


.label-score {
  text-align: left;
}

.label-bonus {
  color: rgb(255, 204, 20) !important;
  transition: color 1s linear;
}

.label-center {
  text-align: center;
}

.label-level {
  text-align: right;
}

.label-start {
  margin-top: 35% !important;
}

/** override some stuff from Popup.css **/

.overlay {
  background: none !important;
/*   font-family: impact; */
  font-size: 2rem;
  box-shadow: none;
  pointer-events: none !important;
}

.popup-center {
/*   margin-top: -15% !important; */
}

.settings {
  box-shadow: none !important;
  padding: 1.5vh !important;
  width: 100%;
  max-width: 1vh !important;
  background: rgb(19 19 19 / 97%)
}

.label-settings {
  overflow: auto;
  text-transform: none;
  word-wrap: break-word;
  width: 100%;
  max-width: 80vh;
  white-space: normal;
}

.list {
  font-size: 1.2rem;
}

.divSlider {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  color: white;
  max-width: 80vh;
}

.divColor {
  text-align: center;
}

.label-color {
  color: white;
  font-size: 3vh;
}

.color {
  border: none;
  margin-left: 2rem;
  height: 3vh;
  width: 5rem;
  appearance: none;
}

.slider {
  width: 100%;
}

.btn-close, .banner {
  display: none;
}