.mobile-primary, .mobile-controls {
  display: none;
}

.mobile-settings {
  width: 100%;
}

@media only screen 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (max-width: 768px) 
  and (min-width: 320px) 
  and (orientation: portrait) {
 
  * {
    touch-action: manipulation !important;
    user-select: none !important;
  }

  @font-face {
    font-family: Impact;
    src: url(../text/impact/impact.ttf);
    font-weight: 750;

    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  html, body {
    display: flex;
    font-size: 1vh;
    align-items: center;
    width: 100%;
    user-select: none;

    background: black;
    transition: background .5s linear !important;
    color: white !important;
  }

  nav {
    height: 1%;
  }

  .divMain {
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .holder {
    display: block;
    width: 97%;
  }

  .holder-secondary {
    align-items: center;
    max-width: 100%;
  }

  .title {
    font-size: 3.5rem !important;
  }

  .esc {
    display: block;
    font-size: 2.7rem !important;
    color: #e91e63;
  }

  .label-main {
    font-size: 6vh;
  }

  .label-start {
    margin-top: 100% !important;
  }

  .canvas {
    align-items: center;
    max-width: 100%;
    border: none;
    margin-left: -2px;
  }
  
  .label {
    font-size: 3.3vh;
  }

  .label-score {
    word-break: keep-all;
  }

  .label-mode {
    font-size: 6vh;
  }

  .menu {
    grid-gap: 0;
  }

  /* settings */

  .settings {
    position: fixed;
    top: 5vh;
    left: 0;
    height: 75%;
    width: 100%;
  }

  .label-settings {
    width: 100%;
    font-size: 2rem;
  }

  .list {
    font-size: 2rem;
  }

  .btn-close {
    display: block;
    appearance: none;
    height: 4vh;
    background-color: rgba(231, 231, 231, .25); 
    color: white;
    border: none;
  }

  /* start and setting btns */

  .mobile-primary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    height: 100%;
  }

  .btn {
    height: 5vh;
  }

  /* put controls at the bottom of the screen with overlap */

  .mobile-controls {
    display: grid;
    grid-template-columns: 10% 26.6% 26.6% 26.6% 10%;
    /* grid-gap: 1vh; uncomment for smaller buttons */
    position: fixed;
    top: 70vh;
    left: 0;
    height: 25vh;
    width: 100%;
    background: none;
  }

  .control-btn {
    border: none;
    border-radius: 2rem;
    outline: none;
    /* background: linear-gradient(#747474, #212121); */
    background: #38383857;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .btn-up {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;

    height: 100%;
  }

  .btn-left {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;

    height: 100%;
  }

  .btn-right {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-start: 4;

    height: 100%;
  }

  .btn-down {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;

    height: 100%;
  }

  .banner {
    display: block;
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 20%;
    left: 0;
    width: 100%;
    height: 60%;
    align-items: center;
    font-size: 6vh;
    color: white;
    background: #0e0e0eed;
    z-index: 1;
    grid-gap: 2rem;
  }
}