.mobile-primary, .mobile-controls {
  display: none;
}

.mobile-settings {
  width: 100%;
}

@media only screen 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (max-width: 768px) 
  and (min-width: 320px) 
  and (orientation: portrait) {
 
  * {
    touch-action: manipulation !important; 
  }

  @font-face {
    font-family: Impact;
    src: url(../text/impact/impact.ttf);
    font-weight: 750;

    font-family: Arial, sans-serif;
    font-weight: bold;
  }

  html, body {
    display: flex;
    font-size: 1vh;
    align-items: center;
    width: 100%;
    user-select: none;
  }

  nav {
    height: 1%;
  }

  .divMain {
    align-items: center;
    width: 100%;
  }

  .holder {
    display: block;
    width: 97%;
  }

  .holder-secondary {
    align-items: center;
    max-width: 100%;
  }

  .label-start {
    margin-top: 100% !important;
  }

  .canvas {
    align-items: center;
    max-width: 100%;
    border: none;
    margin-left: -2px;
  }

  /* settings */

  .settings {
    position: fixed;
    top: 0;
    left: 0;
    height: 75%;
    width: 100%;
  }

  .label-settings {
    width: 100%;
    font-size: 2rem;
  }

  .list {
    font-size: 2rem;
  }

  /* start and setting btns */

  .mobile-primary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    height: 100%;
  }

  .btn {
    height: 5vh;
  }

  /* put controls at the bottom of the screen with overlap */

  .mobile-controls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 1vh; uncomment for smaller buttons */
    position: fixed;
    top: 75vh;
    left: 0;
    height: 19vh;
    width: 100%;
    background: none;
    opacity: .3;
  }

  .control-btn {
    border: 1px solid #ffffff;
    border-radius: 2rem;
    ouch-action: manipulation;
    outline: none;
    background: linear-gradient(#747474, #212121);
  }

  .btn-up {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;

    height: 100%;
  }

  .btn-left {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;

    height: 100%;
  }

  .btn-right {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-start: 4;

    height: 100%;
  }

  .btn-down {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;

    height: 100%;
  }
}